<div>

  <div class="center-text">
    <h4>Thanks for the info, <%= name %>!</h4>
    <p>You are <%= age %> and your favorite numbers are <%= n1 %>, <%= n2 %> and <%= n3 %>.</p>
  </div>

  <hr>

  <div class="center-text">
    <h4>What would you like to do next?</h4>
    <div class="padding">
      <p><a href = "/">Enter info for someone else</a></p>
      <p><a href = "/list_users">View info for someone else</a></p>
    </div>
  </div>

  <hr>

</div>