<p>Thanks for the info, <%= name %>.</p>
<p>You are <%= age %> and your favorite numbers are <%= n1 %>, <%= n2 %> and <%= n3 %>.</p>

<hr>

<h2>Please choose from the following:</h2>

<form action="/">Enter info for someone else: <input type="submit" value="Select"></form>

<form action="view_info">View info for someone else: <input type="submit" value="Select"></form>