<p>Thanks for the info, <%= name %>!</p>
<p>You are <%= age %> and your favorite numbers are <%= n1 %>, <%= n2 %> and <%= n3 %>.</p>

<hr>

<p><u>Please choose from the following:</u></p>
<p><a href = "/">Enter info for someone else</a></p>
<p><a href = "/list_users">View info for someone else</a></p>

<hr>